<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Product - webTech</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/Montserrat.css" />
    <link rel="stylesheet" href="assets/css/swiper-icons.css" />
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/Simple-Slider-swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="assets/css/Simple-Slider.css" />
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
    >
      <div class="container">
        <img
          src="assets/img/nps_inr_logo.png"
          width="177"
          height="94"
          style="margin-left: 2px; padding-right: 10px"
        /><a class="navbar-brand logo" href="#"></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                >about us</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Overview</a
                ><a class="dropdown-item" href="#">Vision and Mission</a
                ><a class="dropdown-item" href="#">Facilities</a
                ><a class="dropdown-item" href="testimonials.html"
                  >Testimonials</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                >programme</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Scholastic Programme</a
                ><a class="dropdown-item" href="#">Co-Scholastic Programme</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                >admissions</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"
                  >Admission Process-KG1 &amp; Montessori</a
                ><a class="dropdown-item" href="#"
                  >Admission Process-Grade 2 to 9</a
                ><a class="dropdown-item" href="#"
                  >Admission Process-Grade 11</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                >events</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Archive 2022-2023</a
                ><a class="dropdown-item" href="#">Archive 2021-2022</a
                ><a class="dropdown-item" href="#">Archive 2020-2021</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                href="#"
                >resources</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">From the Chairman's Desk</a
                ><a class="dropdown-item" href="#">Careers</a
                ><a class="dropdown-item" href="#">School Policies</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact-us.html">contact us</a>
            </li>
          </ul>
          <ul class="navbar-nav"></ul>
        </div>
      </div>
    </nav>
    <main class="page product-page">
      <section class="clean-block clean-product dark">
        <div class="container">
          <div class="block-heading">
            <h2 class="text-info">Product Page</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
              urna, dignissim nec auctor in, mattis vitae leo.
            </p>
          </div>
          <div class="block-content">
            <div class="product-info">
              <div class="row">
                <div class="col-md-6">
                  <div class="gallery">
                    <div id="product-preview" class="vanilla-zoom">
                      <div class="zoomed-image"></div>
                      <div class="sidebar">
                        <img
                          class="img-fluid d-block small-preview"
                          src="assets/img/tech/image1.jpg"
                        /><img
                          class="img-fluid d-block small-preview"
                          src="assets/img/tech/image1.jpg"
                        /><img
                          class="img-fluid d-block small-preview"
                          src="assets/img/tech/image1.jpg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info">
                    <h3>Lorem Ipsum</h3>
                    <div class="rating">
                      <img src="assets/img/star.svg" /><img
                        src="assets/img/star.svg"
                      /><img src="assets/img/star.svg" /><img
                        src="assets/img/star-half-empty.svg"
                      /><img src="assets/img/star-empty.svg" />
                    </div>
                    <div class="price">
                      <h3>$300.00</h3>
                    </div>
                    <button class="btn btn-primary" type="button">
                      <i class="icon-basket"></i>Add to Cart
                    </button>
                    <div class="summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec augue nunc, pretium at augue at, convallis
                        pellentesque ipsum. Vestibulum diam risus, sagittis at
                        fringilla at, pulvinar vel risus. Vestibulum dignissim
                        eu nulla eu imperdiet. Morbi mollis tellus a nunc
                        vestibulum consequat. Quisque tristique elit et nibh
                        dapibus sodales. Nam sollicitudin a urna sed iaculis.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-info">
              <div>
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      role="tab"
                      data-bs-toggle="tab"
                      id="description-tab"
                      href="#description"
                      >Description</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      role="tab"
                      data-bs-toggle="tab"
                      id="specifications-tabs"
                      href="#specifications"
                      >Specifications</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      role="tab"
                      data-bs-toggle="tab"
                      id="reviews-tab"
                      href="#reviews"
                      >Reviews</a
                    >
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active description"
                    role="tabpanel"
                    id="description"
                  >
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nunc quam urna, dignissim nec auctor in, mattis vitae leo.
                      Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Nunc quam urna, dignissim nec auctor in, mattis
                      vitae leo. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit.
                    </p>
                    <div class="row">
                      <div class="col-md-5">
                        <figure class="figure">
                          <img
                            class="img-fluid figure-img"
                            src="assets/img/tech/image3.png"
                          />
                        </figure>
                      </div>
                      <div class="col-md-7">
                        <h4>Lorem Ipsum</h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Nunc quam urna, dignissim nec auctor in, mattis
                          vitae leo. Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit.
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7 right">
                        <h4>Lorem Ipsum</h4>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Nunc quam urna, dignissim nec auctor in, mattis
                          vitae leo. Lorem ipsum dolor sit amet, consectetur
                          adipiscing elit.
                        </p>
                      </div>
                      <div class="col-md-5">
                        <figure class="figure">
                          <img
                            class="img-fluid figure-img"
                            src="assets/img/tech/image3.png"
                          />
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade specifications"
                    role="tabpanel"
                    id="specifications"
                  >
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td class="stat">Display</td>
                            <td>5.2"</td>
                          </tr>
                          <tr>
                            <td class="stat">Camera</td>
                            <td>12MP</td>
                          </tr>
                          <tr>
                            <td class="stat">RAM</td>
                            <td>4GB</td>
                          </tr>
                          <tr>
                            <td class="stat">OS</td>
                            <td>iOS</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" role="tabpanel" id="reviews">
                    <div class="reviews">
                      <div class="review-item">
                        <div class="rating">
                          <img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star-empty.svg" />
                        </div>
                        <h4>Incredible product</h4>
                        <span class="text-muted"
                          ><a href="#">John Smith</a>, 20 Jan 2018</span
                        >
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec augue nunc, pretium at augue at, convallis
                          pellentesque ipsum. Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit.
                        </p>
                      </div>
                    </div>
                    <div class="reviews">
                      <div class="review-item">
                        <div class="rating">
                          <img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star-empty.svg" />
                        </div>
                        <h4>Incredible product</h4>
                        <span class="text-muted"
                          ><a href="#">John Smith</a>, 20 Jan 2018</span
                        >
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec augue nunc, pretium at augue at, convallis
                          pellentesque ipsum. Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit.
                        </p>
                      </div>
                    </div>
                    <div class="reviews">
                      <div class="review-item">
                        <div class="rating">
                          <img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star-empty.svg" />
                        </div>
                        <h4>Incredible product</h4>
                        <span class="text-muted"
                          ><a href="#">John Smith</a>, 20 Jan 2018</span
                        >
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Donec augue nunc, pretium at augue at, convallis
                          pellentesque ipsum. Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clean-related-items">
              <h3>Related Products</h3>
              <div class="items">
                <div class="row justify-content-center">
                  <div class="col-sm-6 col-lg-4">
                    <div class="clean-related-item">
                      <div class="image">
                        <a href="#"
                          ><img
                            class="img-fluid d-block mx-auto"
                            src="assets/img/tech/image2.jpg"
                        /></a>
                      </div>
                      <div class="related-name">
                        <a href="#">Lorem Ipsum dolor</a>
                        <div class="rating">
                          <img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star.svg" /><img
                            src="assets/img/star-half-empty.svg"
                          /><img src="assets/img/star-empty.svg" />
                        </div>
                        <h4>$300</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="clean-related-item">
                      <div class="image">
                        <a href="#"
                          ><img
                            class="img-fluid d-block mx-auto"
                            src="assets/img/tech/image2.jpg"
                        /></a>
                      </div>
                      <div class="related-name">
                        <a href="#">Lorem Ipsum dolor</a>
                        <div class="rating">
                          <img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star.svg" /><img
                            src="assets/img/star-half-empty.svg"
                          /><img src="assets/img/star-empty.svg" />
                        </div>
                        <h4>$300</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="clean-related-item">
                      <div class="image">
                        <a href="#"
                          ><img
                            class="img-fluid d-block mx-auto"
                            src="assets/img/tech/image2.jpg"
                        /></a>
                      </div>
                      <div class="related-name">
                        <a href="#">Lorem Ipsum dolor</a>
                        <div class="rating">
                          <img src="assets/img/star.svg" /><img
                            src="assets/img/star.svg"
                          /><img src="assets/img/star.svg" /><img
                            src="assets/img/star-half-empty.svg"
                          /><img src="assets/img/star-empty.svg" />
                        </div>
                        <h4>$300</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="page-footer dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h5>
              <img
                src="assets/img/nps_inr_logo_footer.png"
                width="182"
                height="61"
              />
            </h5>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Admissions</a></li>
            </ul>
          </div>
          <div class="col">
            <iframe
              allowfullscreen=""
              frameborder="0"
              loading="lazy"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAb1TnzbTWaK5vAsG17LprRkoYNpmejTSY&amp;q=XJ9W%2BRMX%2C+12th+A+Main+Rd%2C+HAL+2nd+Stage%2C+Indiranagar%2C+Bengaluru%2C+Karnataka+560008&amp;zoom=11"
              width="100%"
              height="400"
              style="height: 270px"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>© 2023 Copyright Text</p>
      </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Simple-Slider-swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
  </body>
</html>
